
<h1 class='d-flex my-2 justify-content-center'>Edit <%= @project_name %></h1>


<form action="<%= url("/save/#{@dir}") %>" method="post" enctype="multipart/form-data">

  <div class="row">

    <div class="col-md-12">

      <div class="form-group col-md-6">
        <label for="blend_file">Rename Project</label>
        <input type="text" name="rename" class="form-control" id="new_name" value="<%= @project_name%>">
      </div>

      <div class="row justify-content-md-end my-1 col-md-12">
        <button type="submit" class="btn btn-primary float-center">Save Changes</button>
      </div>

      <div class="form-group col-md-6">
        <label for="icon">Select New Icon</label>
        <select  name="new_icon" class="form-control" id="new_icon">

          <%- all_icons.each do |icon| -%>
  
            <option value="<%= icon %>"><%= icon %></option>
  
          <%- end -%>
  
        <!-- <input type="text" name="new_icon" class="form-control" id="new_icon" value="<%= @project_icon%>">        
        <% all_icons.each do |icon| %>
          <li class="list-group-item btn btn-outline-dark m-3 border">
            <div class="my-2"><%= icon %>
              <i class="fas fa-fw fa-<%= icon %> fa-5x "></i>
            </div>
          </li>
        <% end %> -->
      </div>
    </div>

  

  </div>

</form>